*.sqlite3
.psiturkconfig
.cpcache
.nrepl-port
target/
resources/public/imgs/extra

out/*
!out/*.js
!out/imgs
!out/imgs
!out/*html
!out/*css
!out/extra/*
out/cljs_deps.js


results/.heroku-dburl
results/*json
results/*tsv
results/*.csv
results/data_id-hidden.tsv