{:deps {org.clojure/clojurescript {:mvn/version "1.10.758"}
        org.clojure/core.async {:mvn/version "0.4.474"}
        cljs-ajax/cljs-ajax {:mvn/version "0.7.5"}        ;; post to server
        cljs-bach/cljs-bach {:mvn/version "0.3.0"}        ;; audio
        cljsjs/react-dom {:mvn/version "15.3.1-0"}        ;; for sablono
        cljsjs/react {:mvn/version "15.3.1-0"}            ;; for sablono
        sablono/sablono {:mvn/version "0.7.5"}            ;; state<->dom
        philoskim/debux-stubs {:mvn/version "0.8.1"}      ;; noop leftover (dbg)
        devcards/devcards {:mvn/version "0.2.5"}          ;; need :devcard true to enable
}
 :paths ["resources" "src" "target" "test"]
 :aliases {:fig {:extra-deps
                 {com.bhauman/rebel-readline-cljs {:mvn/version "0.1.4"}
                  com.bhauman/figwheel-main {:mvn/version "0.2.14"}
                  com.bhauman/cljs-test-display {:mvn/version "0.1.1"}
                  philoskim/debux {:mvn/version "0.8.1"}                 ;; dbg dbgn 
                  clj-commons/pomegranate {:mvn/version "1.2.1"}         ;; load depends in repl
                  }
                 :extra-paths ["target" "test"]}}
 :build {:main-opts ["--main" "figwheel.main" "--build" "dev" "--repl"]}}
