^{:watch-dirs ["src" "test"]
  :css-dirs ["resources/public/"]
  :auto-testing true
  ;;:ring-server-options {:host "cljdev"} ;; defined in /etc/hosts
  :extra-main-files
  {
   :cards {:main landscape.devcards}
   :tests {:main landscape.core-tests}}}
{:main landscape.core
 :devcards true}
