^{:watch-dirs ["src" "test"]
  :css-dirs ["resources/public/"]
  :auto-testing true
  :extra-main-files
  {
   :cards {:main landscape.devcards}
   :tests {:main landscape.core-tests}}}
{:main landscape.core
 :devcards true}
;;{:main landscape.core :optimizations :none :infer-externs true}
