body{
   text-align: center;
   width:  558px;
   margin: auto;
   background: #e28c39 url("imgs/desert_border.jpg") repeat-x;
}
#background {
   background: url("imgs/desert_nowater.jpg");
   width:  558px;
   height:  299px;
   position: absolute;
}
img#water {
   bottom: 30px;
   left: 50px;
   position: absolute;
   scale: 5%;
}

#debug{
   position: absolute;
   bottom: 10px;
   margin: 0;
}

#instruction{ background: white;
min-height: 60px;
*min-width: 100px;*/
margin: auto;
padding: 20px;
text-align: center;
border: 2px solid black;
opacity: .75;
border-radius: 25px;
}
#instruction > .bottom {
    position:absolute;
    text-align: center;
    bottom: 2px;
    left:10px;
    padding:10px;
}
#instruction > .top {
    position:absolute;
    font-size: 10px;
    text-align: right;
    width: 90%;
    top: 2px;
    padding-top:10px;
}

.iti {color:white; font-size: 60px;}

/* .avatar { display: inline-block} */

ul#pick>li { display: block; list-style:none; }
ul#pick>li.picked { background: lightblue;}


